<section
  class="page-section"
  id="kit"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase mb-5">#Askotec Kit</h2>
        <div class="base text-muted mb-5">
          The Access to Skills and Knowledge Open Tech Emergency Case is a
          resource kit for community trainers, created for mobile field-use
          where there is neither easy power nor internet connectivity such as
          refugee camps, low-infrastructure regions or rural areas. Intended as
          Open Tech for Good, #ASKotec was created through a series of hub
          development workshops by a community of young innovators intent on
          bringing skills training and peace-building together in the effort to
          end the South Sudan conflict.
        </div>
        <img
          src="/assets/img/what-is-in-the-askotec.jpg"
          style="margin: auto; width: 100%; display: block"
          class="mb-5"
        />
        <a
          class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
          href="https://askotec.openculture.agency/"
          target="_blank"
          >Get the Kit</a
        >
      </div>
    </div>
  </div>
</section>
